@model DirEx.Models.ConnectViewModel

@{
	ViewBag.Title = "Connect";
}

<main class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			@using (Html.BeginForm("connect", "home", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-sitemap">&nbsp;&nbsp;</i> LDAP connection details...</h3>
					</div>
					<div class="panel-body">

						@Html.Partial("_Alerts")
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
						<div class="form-group">
							@Html.LabelFor(model => model.Host, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.Host, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Host, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.Port, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.Port, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Port, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.BaseDn, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.BaseDn, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.BaseDn, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.UserDn, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.UserDn, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.UserDn, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-offset-2 col-md-10">
								<button class="btn btn-success">
									<i class="fa fa-sign-in">&nbsp;&nbsp;</i>Connect
								</button>
							</div>
						</div>

					</div>
				</div>
			}
		</div>
	</div>
</main>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
