@model DirEx.Models.DirectoryViewModel

@{
    ViewBag.Title = "Index";
}

<div class="sidebar">

		@ShowTree(Model.Entries, true)
</div>
<div class="content">
	@if (Model.CurrentEntry != null)
	{
		<dl class="dl-horizontal">
			@foreach (var attributeValue in Model.CurrentEntry.AttributeValues)
			{
				<dt>@attributeValue.Item1</dt>
				<dd>@attributeValue.Item2</dd>
			}
		</dl>
	}
</div>


	@helper ShowTree(ICollection<DirEx.Models.EntryViewModel> entries, bool root = false)
	{
	<ul class="list-group">
		@foreach (var entry in entries)
		{
		<li class="list-group-item">
			@if (entry.Entries.Any() && (root || (Request.Params["currentDn"].EndsWith(entry.DistinguishedName))))
			{
				<i class="fa fa-caret-down"></i>
			}
			else
			{
				<i class="fa fa-caret-right"></i>
			}
			@Html.ActionLink(entry.RelativeName, "index", new { currentDn = @entry.DistinguishedName })
			@if (entry.Entries.Any() && (root || (Request.Params["currentDn"].EndsWith(entry.DistinguishedName))))
			{
				@ShowTree(entry.Entries)
			}
		</li>
		}
	</ul>
}
