@using DirEx.Keys
@using DirEx.Models

@model DirectoryViewModel

@{
    ViewBag.Title = Model.Server;
}

<main>
	<section class="sidebar">
		@ShowTree(Model.Entries, true)
	</section>
	<section class="content">
		@if (Model.CurrentEntry != null)
		{
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-server">&nbsp;&nbsp;</i> @Model.CurrentEntry.RelativeName</h3>
				</div>
				<div class="panel-body">
					<dl class="dl-horizontal">
						@foreach (var attributeValue in Model.CurrentEntry.AttributeValues)
						{
							<dt>@attributeValue.Item1</dt>
							<dd>@attributeValue.Item2</dd>
						}
					</dl>
				</div>
			</div>
		}
	</section>
</main>

@helper ShowTree(ICollection<EntryViewModel> entries, bool root = false)
{
	<ul class="list-group">
		@foreach (var entry in entries)
		{
			var entryExpands = entry.Entries.Any() && (root || (Request.Params[RequestParams.CurrentDn].EndsWith(entry.DistinguishedName)));
			var extraClass = Request.Params.AllKeys.Contains(RequestParams.CurrentDn) && Request.Params[RequestParams.CurrentDn].Equals(entry.DistinguishedName) ? "list-group-item-info" : String.Empty;

			<li class="list-group-item @extraClass">
				@if (entryExpands)
				{
					<i class="fa fa-caret-down"></i>
				}
				else
				{
					<i class="fa fa-caret-right"></i>
				}
				@Html.ActionLink(entry.RelativeName, "index", new { currentDn = @entry.DistinguishedName })
				@if (entryExpands)
				{
					@ShowTree(entry.Entries)
				}
			</li>
		}
	</ul>
}
