@using DirEx.Web.Keys
@using DirEx.Ldap.Data
@using DirEx.Ldap.Extensions
@using DirEx.Web.Extensions

@model LdapTree

@{
    ViewBag.Title = Model.Server;
}

<main data-role="page" id="main" data-theme="b">
	<header data-role="header">
		<a href="#sidebar">
			<i class="fa fa-list"></i>
		</a>
		<a href="#" data-rel="back">
			<i class="fa fa-level-up"></i>
		</a>
		<h1>
			@if (Model.CurrentEntry != null)
			{
				<i class="fa fa-@Model.CurrentEntry.RelativeName.DnToIconClass()">&nbsp;</i>
				@Model.CurrentEntry.FriendlyName
			}
			else
			{
				@Model.Server
			}
		</h1>
	</header>
	<section data-role="content" id="content">
		@Html.Partial("_Alerts")
		@if (Model.CurrentEntry != null)
		{
			<ul data-role="listview">
				@foreach (var attributeValue in Model.CurrentEntry.AttributeValues)
				{
					var isObjectClass = attributeValue.Item1.Equals("objectclass", StringComparison.OrdinalIgnoreCase);
					var isRdnComponent = Model.CurrentEntry.RelativeName.IndexOf(String.Format("{0}={1}", attributeValue.Item1, attributeValue.Item2), StringComparison.OrdinalIgnoreCase) >= 0;

					<li>
						<h3>
							@attributeValue.Item1
						</h3>
						<p>
							@if (attributeValue.Item2.IsDn())
							{
								<i class="fa fa-bookmark">&nbsp;</i>@Html.ActionLink(attributeValue.Item2, "index", new { currentDn = attributeValue.Item2.CompressDn() });
							}
							else if (attributeValue.Item1.Equals(ModelNames.TelephoneNumber, StringComparison.OrdinalIgnoreCase))
							{
								<i class="fa fa-phone">&nbsp;</i><a href="tel:@(attributeValue.Item2)">@attributeValue.Item2</a>
							}
							else if (attributeValue.Item2.IsEmailAddress())
							{
								<i class="fa fa-envelope">&nbsp;</i><a href="mailto:@(attributeValue.Item2)">@attributeValue.Item2</a>
							}
							else if (attributeValue.Item1.Equals(ModelNames.ADsPath, StringComparison.OrdinalIgnoreCase))
							{
								<i class="fa fa-home">&nbsp;</i><a href="@Url.Action(" index", new { currentdn=attributeValue.Item2.Substring(Model.Server.Length).CompressDn() })">@attributeValue.Item2</a>
							}
							else
							{
								@attributeValue.Item2
							}
						</p>
					</li>
				}
				<li>
					<small><i class="fa fa-info-circle">&nbsp;&nbsp;</i>@Model.CurrentEntry.DistinguishedName</small>
				</li>
			</ul>
		}
	</section>
	<section data-role="panel" data-display="overlay" id="sidebar">		
		<h3 id="sidebar-header">
		@if (Model.CurrentEntry != null)
		{
			<i class="fa fa-@Model.CurrentEntry.RelativeName.DnToIconClass()">&nbsp;</i>
			@Model.CurrentEntry.FriendlyName
		}
		else
		{
			@Model.Server
		}
		</h3>

		<ul data-role="listview" data-autodividers="true">
				
			@if (Model.CurrentEntry != null)
			{
				foreach (var entry in Model.CurrentEntry.Entries)
				{
					<li id="item@(entry.DistinguishedName.ToHtmlId())">
						<a href="@Url.Action("index", new { currentDn = @entry.DistinguishedName })">
							<i class="fa fa-@entry.RelativeName.DnToIconClass()">&nbsp;</i>
							@entry.FriendlyName
						</a>
					</li>
				}
			}
		</ul>
	</section>
	<footer data-role="footer">
		<a href="http://www.idmworks.com"><i class="fa fa-copyright">&nbsp;</i>@DateTime.Now.Year</a>
		<a href="http://www.github.com/IDMWORKS/DirEx" class="ui-btn-right"><i class="fa fa-github">&nbsp;</i>Fork</a>
	</footer>
</main>
